::ng-deep .mat-grid-tile-content {
    display: block !important; /* Change display to block */
}
.image-with-shadow {
    border-radius: 5px;
    box-shadow: 0 2px  6px rgba(0, 0, 0);              
    
}

