<div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-6 d-flex align-items-center justify-content-center bg-light">
          <img src="../../../assets/banner/loginBanner.png" alt="Login Image" class="img-fluid w-100 h-100">
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="card w-100 mt-2">
          <div class="card-header bg-danger">
            <h6 class="card-title text-center text-white">Login</h6>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm">
              <div class="row">
                <!-- First Column -->
                <div class="col-md-12">
                  <div class="form-group">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Email: </mat-label>
                        <input matInput type="text" formControlName="email" required>
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Password: </mat-label>
                        <input matInput type="password" formControlName="password" required>
                    </mat-form-field>
                  </div>
                 
                 
                </div>
                <!-- Second Column -->
                <!-- <div class="col-md-2">
                  <div class="justify-content-center align-content-center mt-5">|</div>
                
                </div>
                <div class="col-md-4"> -->
                    <!-- <button mat-raised-button color="primary" class="mt-5">Google</button> -->
                    <!-- Google Login -->
                   
                    <!-- <div id="g_id_onload"
                    data-client_id="579530646004-rasjigimah2to7u8269fm7uf63uihe5c.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-login_uri="http://localhost:3000/mean/v1/user/login"
                    data-auto_select="true"
                    data-itp_support="true">
               </div> -->
               
               <!-- <div class="g_id_signin"
                    data-type="standard"
                    data-shape="pill"
                    data-theme="filled_blue"
                    data-text="signin_with"
                    data-size="large"
                    data-locale="en"
                    data-logo_alignment="left">
               </div>
                  </div> -->
                 
              </div>
              
            </form>
            <a [routerLink]="'/register'" class="text-decoration-none text-black">New User?</a>
              <button mat-stroked-button class="float-end mt-2" (click)="onLogin()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
