
@if(isOpen){
    <div class="cart-content animate__animated animate__flipInY">
   
        <mat-toolbar  color="warn" style="display: flex; justify-content: space-between; height: 50px;">
            <span>My Cart</span>
            <span></span>
            <button mat-icon-button (click)="closeCart()" mat-dialog-close > <mat-icon>close</mat-icon></button>
            </mat-toolbar>
        <!-- Your cart content goes here -->
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, minus? Voluptas odit animi temporibus assumenda ratione numquam blanditiis ab, fugiat, optio facere similique, ut cupiditate deleniti laudantium quibusdam est cumque.
       
    </div>
}

  
