<div class="container-fluid">
    <div class="row ">
      <div class="col-sm-3 bg-danger-subtle text-center  " style="height: 100vh; ">
        User Image and Name here
      </div>
      <div class="col-sm-9 " >
        <div class="row" >
          <div class="col-8 col-sm-6 bg-info" style="height: 20vh;">
           Orders Count here
          </div>
          <div class="col-4 col-sm-6 bg-dark-subtle" style="height: 20vh;">
            Wishlist Count here
          </div>
        </div>
        <div class="row" >
            <div class="col-12 col-sm-12 bg-success text-center" style="height: 80vh;">
              Personal Details here
            </div>
            
          </div>
      </div>
      
    </div>
  </div>