<div class="container-fluid mb-5">
    <div class="col-12 mt-4  rounded-4 " style="height: 300px; box-shadow: var(--box-shadow); ">
        <img src="../../../assets/banner/menBanner.jpg?v={{timestamp}}" class="w-50 h-100">
        <img src="../../../assets/banner/menBanner.jpg?v={{timestamp}}" class="w-50 h-100 " style="transform: scaleX(-1);">
    </div>
    <div class="col-md-12 col-sm-6 d-flex flex-wrap flex-grow-1 ">
        @if(loaderService.loader$ | async){
            <mat-spinner color="warn" [diameter]="spinnerSize" ></mat-spinner>
        }
        @for(product of menProducts$ | async; track product){
            <div class="card animate__animated animate__flipInY p-2 products" style="width: 18rem;   margin-left: 2rem;   margin-top: 1rem;" >
                <img src="{{product.image}}" class="card-img-top h-100 rounded-2" >
                <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <div class="d-flex justify-content-between">
                    <div class="card-text ">{{product.description}}</div>
                    <div class="card-text">&#8377; {{product.price}}/-</div>
                </div>
                
                <!-- <a href="#" class="btn btn-danger">view</a> -->
                <button mat-mini-fab color="primary" style="font-size: 8px; padding: 4px;" ><mat-icon >visibility</mat-icon></button>
                </div>
            </div>
        }
    </div>
</div>
