<div class="d-flex mb-2">
  <mat-card class="w-25 fs-4 text-center" style="height: 90px">
    <mat-card-content>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Search</mat-label>
        <input
          matInput
          [(ngModel)]="searchKey"
          #search
          (keyup)="applyFilter(search.value)"
        />
        @if(searchKey){
        <button matSuffix mat-icon-button (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
<mat-divider></mat-divider>
@if(loaderService.loader$ | async){
<mat-spinner color="warn" [diameter]="spinnerSize"></mat-spinner>
}
<ng-container
  *ngIf="
    kidsProducts$
      | async
      | slice
        : paginate.pageIndex * paginate.pageSize
        : (paginate.pageIndex + 1) * paginate.pageSize as dataSource
  "
>

<!-- New Code Starts -->
<table mat-table [dataSource]="dataSource">
  <!-- Define your columns here -->
  <!-- Example column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> <span class="text-danger">Name</span></th>
    <td mat-cell *matCellDef="let element">
      <h6 class="text-success"> {{ element.name }}</h6> 
    </td>
  </ng-container>
  
  <!-- Additional details column -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef><span class="text-danger">Details</span></th>
    <td mat-cell *matCellDef="let element">
      <mat-accordion multi>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Click for More Details
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Content inside the expansion panel -->
          
                <div class="d-flex justify-content-between">
                  <img src="{{element.image}}" style="height: 150px; width: 150px">
                  <div >
                    <button mat-mini-fab color="primary" style="margin-right: 10px;" matTooltip="Edit" (click)="updateProduct(element)"><mat-icon>edit</mat-icon></button>
                    <button mat-mini-fab color="warn" matTooltip="Delete" (click)="deleteProduct(element)"><mat-icon>delete</mat-icon></button>
                  </div>
                  
                </div>
                
                <table class="table">
                  <thead>
                    <tr>
                    <th>Price</th>
                    <th>Color</th>
                    <th>Count In Stock</th>
                   </tr>
                   </thead>
                   <tbody>
                    <tr>
                      <td> &#8377; {{element.price}} /-</td>
                      <td>{{element.color}}</td>
                      <td>{{element.countInStock}}</td>
                    </tr>
                    </tbody>
                </table>
            
        </mat-expansion-panel>
      </mat-accordion>
     
    </td>
  </ng-container>
  

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- New Code Ends -->
 </ng-container>


<div class="mt-4">
  <mat-paginator
    #paginate
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageSize]="5"
    [length]="(kidsProducts$ | async)?.length"
    showFirstLastButtons
    class="bg-light p-3"
  ></mat-paginator>
</div>
