@if(token){
    <div class="col-3 mx-auto ">
        <mat-toolbar color="warn" class="mt-2 rounded-2">Reset Your Password</mat-toolbar>
        <form (ngSubmit)="updatePassword()" #resetForm="ngForm" class="mt-2">
         
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>New Password</mat-label>
                <input matInput id="password" name="password" [(ngModel)]="password" required>
            </mat-form-field>
            
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Confirm New Password:</mat-label>
                    <input matInput  id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                </mat-form-field>
            
         <button mat-mini-fab color="warn" [disabled]="resetForm.invalid || password !== confirmPassword" matTooltip="Reset Password"><mat-icon>update</mat-icon></button>
        </form>
      </div>
}

  
